*.swp
*.un~
.svn
.tox-index
bbonly
bbwin
bin-bbwin-only
comdb2_table_loader
dddbash
jekyll
kramdown
listen
localsys
mktemp
msaccess
msouc
mspub
mstore
ois
onenote
outlook
powerpnt
promo
pudb
pygments
readlink
rougify
safe_yaml
sass
sass-convert
selfcert
setlang
tags
termux-only
tox-py
urwid
vimprobable
visio
winword
scss
.nfs*
