*.swp
*.un~
.svn
.tox-index
bbonly
bbwin-only
dddbash
localsys
mktemp
msaccess
msouc
mspub
mstore
ois
onenote
outlook
powerpnt
promo
readlink
selfcert
setlang
tags
termux-only
vimprobable
visio
winword
pudb
pygments
urwid
