*.swp
*.un~
.svn
.tox-index
bbonly
bbwin-only
dddbash
localsys
mktemp
msaccess
msouc
mspub
mstore
ois
onenote
outlook
powerpnt
promo
pudb
pygments
readlink
selfcert
setlang
tags
termux-only
urwid
vimprobable
visio
winword
bin-bbwin-only
comdb2_table_loader
tox-py
